* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffffff;
    color: #212f3f;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 50px;
}
.btn {
    background-color: #334f66;
    color: #ffffff;
    border: none;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
}

.btn:hover {
    background-color: #212f3f;
}
.btn:active {
    color: #b3c4ce;
}
.btn-active {
    background-color: #212f3f;
    }
.block {
    padding: 20px 20px;
    border: 1px solid #dce2e8;
    border-radius: 5px;
    text-align: center;
}
h2 {
    margin-bottom: 5px;
}